body.dark {
    --bg: #121212;
    --navbar-bg: rgba(18, 18, 18, 0.8);
    --navbar-bg-hover: rgba(18, 18, 18, 1);
    --navbar-shadow: rgba(0, 0, 0, 0.6);
    --navbar-shadow-hover: rgba(0, 0, 0, 0.8);
    --navbar-border: #f43f5e;
    --navbar-content: #f43f5e;
    --navbar-content-hover: #be123c;
    --footer-bg: #1e1e1e;
    --footer-content: #9ca3af;
    --footer-border: #374151;
    --inline-code-content: #ff7b7b;
    --multiline-code-bg: #0d0d0d;
    --multiline-code-content: #f1f5f9;
    --multiline-code-shadow: rgba(255, 120, 120, 0.8);
    --copy-prompt-success-content: #39FF14;
    --copy-prompt-success-shadow1: #39FF14;
    --copy-prompt-success-shadow2: white;
    --copy-prompt-fail-content: rgb(255, 77, 77);
    --copy-prompt-fail-shadow1: white;
    --copy-prompt-fail-shadow2: rgb(255, 77, 77);
    --main-content-bg: #1a1a1ae3;
    --section-border: #374151;
    --normal-content: #d1d5db;
    --header-content: #f9fafb;
    --remark-content: #9ca3af;
    --link: #ff4d4d;
    --link-hover: #f44336;
    --theme-selector-shadow1: rgba(255, 255, 255, 0.2);
    --theme-selector-shadow2: rgba(255, 255, 255, 0.5);
    --particle-color-1: #e11d48;
    --particle-color-2: #646b74;
}

body.cute {
    --bg: #fefce8;
    --navbar-bg: rgba(255, 251, 235, 0.9);
    --navbar-bg-hover: rgba(255, 251, 235, 1);
    --navbar-shadow: rgba(0, 0, 0, 0.05);
    --navbar-shadow-hover: rgba(0, 0, 0, 0.08);
    --navbar-border: #fbbf24;
    --navbar-content: #f59e0b;
    --navbar-content-hover: #d97706;
    --footer-bg: #fffef9;
    --footer-content: #6b7280;
    --footer-border: #fcd34d;
    --inline-code-content: #f59e0b;
    --multiline-code-bg: #fef9c3;
    --multiline-code-content: #374151;
    --multiline-code-shadow: rgba(251, 191, 36, 0.5);
    --copy-prompt-success-content: #22c55e;
    --copy-prompt-success-shadow1: #bbf7d0;
    --copy-prompt-success-shadow2: #22c55e;
    --copy-prompt-fail-content: #f87171;
    --copy-prompt-fail-shadow1: #fecaca;
    --copy-prompt-fail-shadow2: #f87171;
    --main-content-bg: #ffffff;
    --section-border: #fcd34d;
    --normal-content: #4b5563;
    --header-content: #78350f;
    --remark-content: #92400e;
    --link: #ffb3b3;
    --link-hover: #ff99cc;
    --theme-selector-shadow1: rgba(0, 0, 0, 0.2);
    --theme-selector-shadow2: rgba(0, 0, 0, 0.5);
    --particle-color-1: #fde68a;
    --particle-color-2: #f9a8d4;

    --accent-bg: #ffe4e6;
    --accent-border: #fda4af;
    --accent-content: #ec4899;
}

body.tech {
    --bg: #0f172a;
    --navbar-bg: rgba(15, 23, 42, 0.8);
    --navbar-bg-hover: rgba(15, 23, 42, 1);
    --navbar-shadow: rgba(0, 255, 255, 0.2);
    --navbar-shadow-hover: rgba(0, 255, 255, 0.3);
    --navbar-border: #0ea5e9;
    --navbar-content: #38bdf8;
    --navbar-content-hover: #0ea5e9;
    --footer-bg: #1e293b;
    --footer-content: #cbd5e1;
    --footer-border: #38bdf8;
    --inline-code-content: #7dd3fc;
    --multiline-code-bg: #1e293b;
    --multiline-code-content: #e0f2fe;
    --multiline-code-shadow: rgba(14, 165, 233, 0.6);
    --copy-prompt-success-content: #34d399;
    --copy-prompt-success-shadow1: #a7f3d0;
    --copy-prompt-success-shadow2: #34d399;
    --copy-prompt-fail-content: #f87171;
    --copy-prompt-fail-shadow1: #fecaca;
    --copy-prompt-fail-shadow2: #f87171;
    --main-content-bg: #0f172a;
    --section-border: #334155;
    --normal-content: #cbd5e1;
    --header-content: #7dd3fc;
    --remark-content: #93c5fd;
    --link: #00bfff;
    --link-hover: #1e90ff;
    --theme-selector-shadow1: rgba(  0, 255, 255, 0.2);
    --theme-selector-shadow2: rgba(  0, 255, 255, 0.5);
    --particle-color-1: #0ff;
    --particle-color-2: #8b5cf6;
    --accent-bg: rgba(0, 255, 255, 0.05);
    --accent-border: #06b6d4;
    --accent-content: #22d3ee;
}

body.greek {
    --bg: #f0f4f8;
    --navbar-bg: rgba(255, 255, 255, 0.9);
    --navbar-bg-hover: rgba(255, 255, 255, 1);
    --navbar-shadow: rgba(30, 64, 175, 0.2);
    --navbar-shadow-hover: rgba(30, 64, 175, 0.3);
    --navbar-border: #1e40af;
    --navbar-content: #2563eb;
    --navbar-content-hover: #1d4ed8;
    --footer-bg: #e0f2fe;
    --footer-content: #1e3a8a;
    --footer-border: #60a5fa;
    --inline-code-content: #1e40af;
    --multiline-code-bg: #e0f2fe;
    --multiline-code-content: #1e3a8a;
    --multiline-code-shadow: rgba(96, 165, 250, 0.5);
    --copy-prompt-success-content: #059669;
    --copy-prompt-success-shadow1: #6ee7b7;
    --copy-prompt-success-shadow2: #059669;
    --copy-prompt-fail-content: #ef4444;
    --copy-prompt-fail-shadow1: #fecaca;
    --copy-prompt-fail-shadow2: #ef4444;
    --main-content-bg: #ffffff;
    --section-border: #93c5fd;
    --normal-content: #1f2937;
    --header-content: #1e40af;
    --remark-content: #3b82f6;
    --link: #3498db;
    --link-hover: #2980b9;
    --theme-selector-shadow1: rgba( 30, 64, 175, 0.2);
    --theme-selector-shadow2: rgba( 30, 64, 175, 0.5);
    --particle-color-1: #60a5fa;
    --particle-color-2: #facc15;

    --accent-bg: #fef9c3;
    --accent-border: #facc15;
    --accent-content: #f59e0b;
}

body.low {
    --bg: #D7D0C4;
    --navbar-bg: #B7A49A;
    --navbar-bg-hover: #9F8A79;
    --navbar-shadow: rgba(0, 0, 0, 0.1);
    --navbar-shadow-hover: rgba(0, 0, 0, 0.2);
    --navbar-border: #8F7F6D;
    --navbar-content: #6C5A4A;
    --navbar-content-hover: #5A4A3D;
    --footer-bg: #D8D0C5;
    --footer-content: #5E4B39;
    --footer-border: #B5A78D;
    --inline-code-content: #a35e3d;
    --multiline-code-bg: #2D2A22;
    --multiline-code-content: #D6D2C2;
    --multiline-code-shadow: rgba(100, 100, 100, 0.3);
    --copy-prompt-success-content: #A1B29B;
    --copy-prompt-success-shadow1: white;
    --copy-prompt-success-shadow2: #B2C8A6;
    --copy-prompt-fail-content: #B78F8F;
    --copy-prompt-fail-shadow1: white;
    --copy-prompt-fail-shadow2: #A78F8F;
    --main-content-bg: #F0E8D8;
    --section-border: #B8B2A2;
    --normal-content: #4D3F2E;
    --header-content: #4A3A2D;
    --remark-content: #6C5B4C;
    --particle-color-1: #B1A89D;
    --particle-color-2: #9B9A92;
}